/* * HEADER * */
.header{
    height: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main_header{
    height: 60%;
}

.branch_icon{
    width: 3rem;
}

.search_icon{
    width: 1rem;
}

.shop_icon{
    width: 2.5rem;
}

.header_search{
    align-items: center !important;
    width: 30rem !important;
}


/* * NAVBAR * */
.nav{
    height: 40%;
}

/* * FOOTER * */
.footer > div{
    width: 33%;
}

.footer > div >img{
    width: 5rem;
}

.dashboard{
    height: 100vh;
    width: 20%;
    align-items: center;
}

.main-admin{
    width: 80% !important;
}

.show-category{
    width: 90% !important;
}
.dashboard-item a{
    color: white !important;
}

tr:hover{
    background-color: aliceblue;
}